@media only screen and (max-width: 600px) {
    .title{
        font-size: 10px;
    }
    .cont{
        font-size: 5px;
        width: 150px;
    }
  }
  @media only screen and (min-width: 601px) {
  .title{
    font-size: 75px;
}
.cont{
    font-size: 30px;
    display: "flex";
     justify-content: "center";
      color: "white";
       margin: "150px";
        text-align: "left";
}
  }
.btn{
    margin: 2px;
    border: none;
    color: white;
    background-color:#5f43b2 ;
    width: auto;
    height: auto;
    font-size: 35px;
}
a:hover {
    background-color: white;
  }