@media only screen and (max-width: 600px) {
  .tt {
    font-size: 15px;
  }
  .main{
  
    background: url(main.png) no-repeat center  ; 
    background-size: 395%; 
    width: auto;
    height: 830px;
  }
  .click{
    margin-top: 780px;
  }
}

@media only screen and (min-width: 601px) {
  .tt {
    font-size: 35px;
  }
  .click{
    margin-top: 580px;
  }
  .main{
  
    background: url(main.png) no-repeat top center ; 
    background-size: 100%; 
    width: auto;
    height: 1280px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.tt {
  font-size: 35px;
  background-color: #5f43b2;
}

* {
  margin: 0;
  padding: 0;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.back, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.back {
  background: #000 url(stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 800s linear infinite;
}