@media only screen and (max-width: 600px) {
  .title {
    font-size: 20px;
    margin-left: -75px;
    width: 300px;
  }
  .accueil {
    width: 150px;
  }
  .cont {
    font-size: 13px;
    width: 300px;
  }
  h1 {
    font-size: 20px;
  }
  .btn {
    margin-top: 170px;
    font-size: 15px;
  }
  .link {
    font-size: 15px;
  }
  .list {
    margin-left: 120px;
    margin-top: -293px;
    font-size: 13px;
  }
  .tt {
    font-size: 15px;
  }
  .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(main.png) no-repeat center;
    background-size: 395%;
  }
  .click {
    margin-top: 780px;
  }
}

@media only screen and (min-width: 601px) {
  .tt {
    font-size: 35px;
  }
  .title {
    font-size: 60px;
  }
  .accueil {
    margin: 165px;
  }
  .cont {
    display: "flex";
    justify-content: "center";
    color: "white";
    margin: "150px";
    text-align: "left";
  }
  .btn {
    font-size: 35px;
  }
  .link {
    font-size: 25px;
  }
  .list {
    margin-left: 250px;
    margin-top: -413px;
  }
  .cont, .list {
    font-size: 20px;
  }
  .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(main.png) no-repeat top center;
    background-color: black;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.tt {
  font-size: 35px;
  background-color: #5f43b2;
}

* {
  margin: 0;
  padding: 0;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.back, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.back {
  background: rgb(0, 0, 0) url(stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 800s linear infinite;
}

.btn {
  margin: 2px;
  border: none;
  color: white;
  background-color: #5f43b2;
  width: auto;
  height: auto;
}

a:hover {
  background-color: white;
}