@media only screen and (max-width: 600px) {
  .title {
    font-size: 20px;
    margin-left: -75px;
    width: 300px;
  }
  .st {
    font-size: 15px;
  }
  .btnmain {
    margin: 10px;
    display: flex;
    justify-Content: center;
    height: 107;
    width: 150px;
    margin: 10px;
    margin-left: -30px;
  }
  .btnmainx {
    color: #96c2ff;
    font-size: 12px;
  }
  .cont {
    font-size: 13px;
    width: 300px;
    display: table-cell;
  }
  .contact {
    margin-top: -100px;
  }
  .contact button {
    margin-top: 170px;
    font-size: 15px;
  }
  .link {
    font-size: 15px;
  }
  .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(main.jpg) no-repeat center;
    background-size: 400%;
  }
}

/* Fin < 600 */

@media only screen and (min-width: 601px) {
  .tt {
    font-size: 35px;
  }
  .title {
    font-size: 60px;
  }
  .contact {
    margin-top: -230px;
  }
  .cont {
    width: 300px;
    font-size: 20px;
    display: table-cell;
  }
  .contact button {
    font-size: 25px;
  }
  .link {
    font-size: 25px;
    margin-top: 150px;
  }
  .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(main.jpg) no-repeat top center;
    background-color: black;
  }
  .main h1 {
    font-size: 75px;
  }
  .btnmain {
    margin: 10px;
    display: flex;
    justify-Content: center;
    height: 225;
    width: 150px;
    margin: 10px;
    color: #96c2ff;
  }
  .btnmainx {
    color: #96c2ff;
    font-size: 25px;
  }
}

/* Fin > 600 */

.main h1 {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.back, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.back {
  background: rgb(0, 0, 0) url(stars.png) repeat top center;
  z-index: 0;
}

.accueil {
  display: flex;
  justify-content: center;
}

.twinkling {
  background: transparent url(twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 800s linear infinite;
}

.contact button {
  margin: 2px;
  border: none;
  color: white;
  background-color: #5f43b2;
  width: 35px;
  height: 35px;
}

.contact h1 {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.contact-menu ul {
  display: flex;
  justify-content: center;
}

.contact-menu ul li {
  list-style: none;
  margin: 0 10px;
}

.contact-menu ul li .fas, .fab {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .6s;
}

.contact-menu ul li .fa:hover {
  color: #ffffff;
}

.contact-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  transform: translate(0, 0px);
}

.contact-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.contact-menu ul li:nth-child(1) a:hover {
  background-color: #0077B5;
}

.contact-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}

.contact-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}

.contact-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}