
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
* {
  margin: 0;
  padding: 0;

}


@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

body, .twinkling {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

body {
background:#000 url(stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(twinkling.png) repeat top center;
z-index:1;
animation:move-twink-back 500s linear infinite;
}


